.main {
    background-color: #E8DDB5;
    height: 90vh;
}

.select-box {
    height: 15%;
    background-color: #e5ebea;
}


.main-box {
    /* border-top: 5px solid #5941A9; */
    display: flex;
    overflow: hidden;
    height: 85%;
}

.main-box div {
    width: 50vw;
}

.main-box div.full-list {
    padding: 20px;
    border-right: 5px solid #5941A9;
    display: flex;
    flex-wrap: wrap;
    height: 95%;
    overflow: auto;
}