@import url(https://fonts.googleapis.com/css?family=Open+Sans);

button {
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    font-size: 15px;
    transition: .3s;
    background-color: rgb(247, 247, 247);
    font-family: 'Open Sans', 'sans-serif';
}

.main {
    background-color: #E8DDB5;
    min-height: 90vh
}

.select-box {
    background-color: #e5ebea;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    min-height: 250px;
}

.selectors {
    padding-top: 10px;
    width: 60%;
}

.detail-box {
    width: 40%;
}

.main-box div.full-list {

    border-top: 5px solid #5941A9;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
}