.colors button {
    height: 50px;
    width: 50px;
    border: 3px solid rgb(124, 124, 124);
    margin: 5px;
    position: relative;
    cursor: pointer;
}

.colors button:before {
    background: none;
    border: 1px solid rgb(197, 197, 197);
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

button.red {
    background-color: rgb(221, 27, 27);
}

button.white {
    background-color: white;
}

button.black {
    background-color: black;
}

button.yellow {
    background-color: rgb(230, 230, 66);
}

button.blue {
    background-color: rgb(32, 32, 184);
}

button.green {
    background-color: rgb(67, 158, 67);
}

button.orange {
    background-color: rgb(223, 146, 5);
}

button.active {
    box-shadow: 0px 0px 3px 3px rgb(160, 207, 176);
}

button.color.active:after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 15px;
    left: 0;

    background-color: blue;
}