.smallitem {
    display: block;
    max-width: 100px;
    max-height: 50px;
    border: 1px solid black;
    margin: 1px;
}

.smallitem:hover {
    filter: brightness(50%);
    transition: 0.2s;
    cursor: pointer;
}